#filler{
height: 100px;
width: 40%;
}

#mid {
	margin-top: 100px;
	height: 300px;
	width: 75%;
	color: #FFFFFF; 
	margin-top: 100px;
	margin:0 auto;
	display:block;
    margin:auto;
    
}
#logo{
	height: 50px;
	margin:0 auto;
	background:url(/1.png) 0 0 no-repeat;
}
#text{
	

}
div.jumbotron{
	border: 2px solid #DDDDDD;
	background-color: #444444;
	border-radius: 30px;
}

#back{
	background-color: #222222;
}