
<!DOCTYPE html>
<html ng-app="stats">

<head>

	<link rel="stylesheet" type="text/css" href="vint.css">
  <script src="jquery-2.1.1.js"></script>
	<script type="text/javascript" src="recentMessages.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>
	<script src="app.js"></script>

	
	<script type="text/javascript" src=""></script>



	<title> GroupStats </title>



	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

</head>
<div id ="trim">
		<div id ="logo">
		</div>
		<div id ="account" ng-controller="user">
        <div id ="propic" style="background:url({{propic_image}}) 0 0 no-repeat; background-size:contain;"></div>
		<h1 id ="username"> {{username}} </h1>
		</div>
</div>



<body id ="content">
	

	<div id ="left" ng-controller="left">
		<div id ="Recent"></div>
		<div id ="lazyborder"></div>
    <div ng-repeat="mess in messages">
        <div id="mess">
            <div id="gpic"></div>
            <h1 id ="text">"{{mess.text}}"</h1>
            <h2 id ="User">-{{mess.name}}</h2>
            <h3 id ="Group">{{mess.group}}</h3>
        </div>
    </div>
	</div>

	<div id ="center">


	
		<div id ="topc">
			<html>
 				 <head>
    				<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    				<script type="text/javascript">
      				google.load("visualization", "1", {packages:["corechart"]});
      				google.setOnLoadCallback(drawChart);
      				function drawChart() {
        			var data = google.visualization.arrayToDataTable([
          				['Day', 'Sent', 'Recieved'],
          				['Today',  	   		2000,400],
          				['Yesterday',  		600,460],
          				['9/17', 			660,400],
          				['9/16',  			1030,540],
          				['9/15',  			143, 300]
        			]);

        			var options = {
          			title: 'Messages Sent and Recieved',
          			
          			vAxis: {title: '',  titleTextStyle: {color: 'blue'}}
        			};

        			var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

        			chart.draw(data, options);
      				}
    				</script>
  				</head>
  				<body>
    				<div id="chart_div" style="width: 792px; height: 300px;"></div>
  				</body>
			</html>
		</div>




		<div id ="bottomc">
			<html>
 				<head>
    			<script type="text/javascript" src="https://www.google.com/jsapi"></script>
   				<script type="text/javascript">
      			google.load("visualization", "1", {packages:["corechart"]});
     			google.setOnLoadCallback(drawChart);
          var top_groups = getTopGroups();
     			var group1 = top_groups[0].name;
     			var group2 = top_groups[1].name;
     			var group3 = top_groups[2].name;
     			var group4 = top_groups[3].name;
     			var other = top_groups[4].name;
      			function drawChart() {
        		var data = google.visualization.arrayToDataTable([
          			['Top Groups', '# of Messages'],
          			[group1, top_groups[0].messages.count],
          			[group2, top_groups[1].messages.count],
          			[group3, top_groups[2].messages.count],
          			[group4, top_groups[3].messages.count],
          			[other,  top_groups[4].messages.count]
        			]);

        		var options = {
          			title: 'Most Active Group Chats by number of Messages',
          			title: {titleTextStyle: {color: blue}},
          			pieHole: 0.4,
          			chartArea:{width:'80%',height:'80%'},
          			slices: {  
                  		0: { color: '#0066EE' },
                  		0: { offset: 0.0 },
                  		1: { color: '#33DDDD' },
                  		2: { color: '#00CC99' },
                  		3: { color: '#69A4FF' },
                  		4: { color: '#6633CC' },
                  		5: { color: '#6633CC' },
                  		6: { color: '#589AFF' },
                  	},
                  	
                  	
        		};

        		var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        		chart.draw(data, options);
      			}
    			</script>
  				</head>
  				<body>
    			<div id="donutchart" style="width: 792px; height: 400px;"></div>
  				</body>
			</html>

		</div>




	</div>

	<div id ="right" ng-controller="right">
		<div id ="friends"></div>
		<div id ="lazy"></div>
		<div ng-repeat="friend in friends">
        <div id="friend2">
            <div id="hpic" style="background:url({{friend.pic}}) 0 0 no-repeat; background-size:contain;"></div>
            <div id ="Name">{{friend.id}}</div>
            <div id ="messcount">{{friend.c}} Messages</div>
        </div>
    	</div>
		
	</div>


<h1 id = "credit">
	Created by Ben Moore, Dimitry Myronenko, Nate Kaufman. Special Thanks to Eric Rosenberg, and Bill Pendavinji. 
</h1>
<h1 id = "credit">
	September 2014
</h1>

</body>

</html>
